<html lang='ja'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>名言BOT</title>
  </head>
  <body>
    <h1>新規キャラクター作成</h1>
    <form action="/characters" method="post">
      <input type="text" name="name" placeholder="キャラクター名">
      <input type="submit" value="作成">
    </form>
  </body>
</html>
