{{ $name := .character.Name }}
<html lang='ja'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>名言BOT</title>
  </head>
  <body>
    <div>
      <a href="/">TOPへ</a>
      <h1>{{ $name }}</h1>
      <h2>ニックネーム</h2>
      <form action="/nicknames/{{.character.ID}}" method="post">
        <input type="text" name="nickname" placeholder="新しいニックネーム">
        <input type="submit" value="追加">
      </form>
      <table>
        {{ range .character.Nicknames }}
          <tr>
            <td>{{ .Nickname }}</td>
            <td>
              {{ if ne $name .Nickname }}
                <a href="">削除</a>
              {{ end }}
             </td>
          </tr>
        {{ end }}
      </table>
      <h2>名言</h2>
      <form action="/meigens/{{.character.ID}}" method="post">
        <textarea name="text" placeholder="新しい名言"></textarea>
        <input type="submit" value="追加">
      </form>
      <table>
        {{ range .character.Meigens }}
          <tr>
            <td>{{ .Text }}</td>
            <td><a href="">削除</a></td>
          </tr>
        {{ end }}
      </table>
    </div>
  </body>
</html>
