<html lang='ja'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>名言BOT</title>
  </head>
  <body>
    <div>
      <h1>キャラクタ一覧</h1>
      <a href="/characters/new">新規キャラクター作成</a>
      <table>
        <thead>
          <tr>
            <th>名前</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{ range .characters }}
          <tr>
            <td>{{ .Name }}</td>
            <td><a href="">詳細</a></td>
            <td><a href="">削除</a></td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>
