<html lang='ja'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>名言BOT</title>
  </head>
  <body>
    <a href="/">TOPへ</a>
    <h1>キャラクター編集</h1>
    <form action="/updatecharacter/{{ .character.ID }}" method="post">
      <input type="text" name="name" placeholder="キャラクター名" value="{{ .character.Name }}">
      <input type="submit" value="更新">
    </form>
  </body>
</html>
